# Variables

In [110]:
x = 1  # creates some memory space and puts there number 5
x += 1 # increments variable x by 1
7*x # seven times 7
type(x)


# brackets [   square brackets []  curly brackets {} colon :  comma ,  semi colon ; 
# ' single quotation marks " double quotation marks
# reserved works
# x. -> tab completion
#documentation:     https://docs.python.org/3/

SyntaxError: invalid syntax (<ipython-input-110-0896374e9c0c>, line 11)

# Operations with Strings

In [8]:
name = 'LÃ­via' # strings have to be in inverted commas or quotation marks
name[0] # accessing the character in the first position of the string 
  # python is zero-indexing
first_letter = name[0]
name + name
name*5 # we can mulpitly string by numbers
type(name) # what type the number is

str

# Strings slicing - accessing portions or characters of strings

In [16]:
my_string = 'abcdefghijklmnopqrstuvwxys'# identifier does not start with numbers, I like to have variables all lowercase
my_string[:] # accessing all elements of that String
my_string[:9] # starting at the beggining up to not including 9
my_string[2:8] # into brackets: access a portion of a string, starts at 2, but not including 8
my_string[2:10:1] # two colon   'cdefghij'
my_string[2:10:2] # start at 2, go up to but not including 10, and going in steps of 2 'cegi'
my_string[2::3] # 2 to the end in steps of 3
my_string[::-1] # doing backwards (all element)
#my_string

'cegi'

# Strings methods

In [68]:
my_string = 'As I was going to St Ives, I met a man with seven wives.'
len(my_string) # it returns the lenght of the string, the string is XX characteres long
my_string.upper() # to call methods we need to put brackets 
my_string.lower() # returns the string but it does it as lowercase
my_string.split() # returns in squared brackets (list), each word as a list element
my_string_pieces = my_string.split()
my_string.count('a') # count the number of a particular character present in the string
my_string.count('a') # count the number of a particular character present in the string
my_string.find('seven') # returns the position of seven in the string
my_string.find('seven') # returns the position of seven in the string
my_string.replace('seven','eight') # replace seven with eight, but not changing the original variable
#my_string

'As I was going to St Ives, I met a man with eight wives.'

# Strings formatting

In [ ]:
print('My name is Livia \n Ruback') # line breaking
print('I\'m Livia \n Ruback') # Python thing that the apostrophe is the end of the string, 
# we can escape the I'm by putting a slash or using double quotation marks we dont need to escape
# first_name = input('What is your first name?') # always take string
# surname = input('What is your surname?')
# print('Your full name is {} {} '.format(first_name, surname)) # curly brackets
# print('Your name has {} characters'.format(len(first_name) + len(surname)))

# Functions - reusing blocks of code

In [42]:
# defining a function, giving it a name
def name_length(): # functions always end with a colon
    first_name = input('What is your first name?') # always take string
    surname = input('What is your surname?')
    print('Your full name is {} {} '.format(first_name, surname)) # curly brackets
    print('Your name has {} characters'.format(len(first_name) + len(surname)))
    return 
# we are gonna just call the function

In [44]:
name_length()

What is your first name?Livia
What is your surname?:Ruback
Your full name is Livia Ruback
Your name has 11 characters

# Python Lists - Manipulation

In [63]:
# how to modify and change lists
new_list = ['one', 'two', 'three', 'four', 'five'] # lists elements
new_list[3] # I want the element in the forth position of the list
new_list[3] = 'seven' # lets change that element, in place of the element we now have the 
new_list.append('three') # adding a new element at the end of the list
new_list.insert(2, 'house') # how and when we want to insert our new list element
del new_list[2] # get rid of the element in that position
new_list.remove('seven') # seven has gone
new_list
# for i in range(1,10):
#     new_list.append(i)

['one', 'two', 'three', 'five', 'three']

# Python Lists - More complex functions

In [83]:
list1 = [1,2,3,'four', 'five','six'] # square brackets that define a list in Python and each element is separed by a comma
list1 + [7,8,9] # joining two lists 
list1 += [7,8,9] # now we change the original list
list1.extend([7,8,9]) # another way
list1

[1, 2, 3, 'four', 'five', 'six', 7, 8, 9]

# Python Lists - Sorting

In [81]:
word_list = ['Apples','and', 'pears', 'night', 'Make', 'a', 'Very', ''] # some have capital letter as first letter and some don't
word_list.sort() # puts the words with capital letter as first letter on the top
word_list.reverse() # the same, but in reserve order 
word_list.insert(6, 18) # mixed list - insert in the position 6 the number 18
word_list

['pears', 'night', 'and', 'a', 'Very', 'Make', 18, 'Apples', '']

# The zip function - create a list of tuples (immutable)

In [88]:
first_list = [1,2,3,4,5]
second_list = ['a', 'b','c','d','e']
new_list = list(zip(first_list, second_list)) # zip returns a tuple - an imutable object, takes the elements in order and combines them
new_list2 = list(zip(second_list, first_list)) # the other way around
third_list = [9,8,7] # lets create a third list
new_list3 = list(zip(first_list, third_list)) # lets zip the first and the third list
# What happens? We get only three tuples, zip list stops in the size of the shortest list 

new_list3

[(1, 9), (2, 8), (3, 7)]

# Python List Index and counting occurrences

In [97]:
# list of numbers and strings
list1 = [1,2,3,4,5, 'five', 'four', 'three', 'two', 'one', 1,2,3,4,5,5,4,3,2,1,'one', 'two','three', 'four','five']
list1.index('three') # returns the index of the element (its first occurrence)
list1.count(3) # How many times 3 appears?
list1.count('five') # 'five' appears twice
'five' in list1 # check weather this string is in the list

True

# Python List Slicing

In [106]:
new_list = list(range(50)) # range creates a list starting in 0 up to 50
#new_list
new_list[:] # take the whole list, if we leave them blank, it defaults to  beggining and the end
new_list[-3:] # the last three elements
new_list[4:9] # start in the element in the forth position up to the element in position 9, not including it 
new_list[::3] # take the whole list, in steps of 3
new_list[-15::3] # the last 15 elements in steps of 3

[35, 38, 41, 44, 47]

# Nested lists - lists that contain lists

In [109]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]
nested_list[1] # the second element of the main list
nested_list[1][2] # the third element of the second list

6

# Testing empty lists

In [117]:
empty_list = []
# The Python doc says that if returns false if the sequence is empty
if not empty_list: # check The truth value testing https://docs.python.org/2.4/lib/truth.html
    print("The list is empty") 
else:
    print("The list is not empty")

The list is empty

# Python dictionaries!

In [141]:
# Dictionaries consist of key-value pairs - items - separated by commas and key value pair are separated by colon
# are declared within curly brackets. keys are immutable, can't change
# useful for mapping one item to another, like stock prices
d = {'key1':'value1','key2':'value2','key3':'value3'}
d.items() # return the key-value pairs
d.keys() # gives the list of keys
d.values() # gives the list of keys

d_keys = range(10) # uses the range function to create a dict  that goes from 0 to 9
d_values = list('abcdefghij') # list functions turn the string into a list of characters
dic = dict(zip(d_keys, d_values)) # creates a new dictionary using zip (pairs two list together and returns a single list)
dic

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j'}

In [142]:
dic[5] # gets the value associated with the key 5    in square brackets

'f'

In [143]:
dic[5] = 'z'# changing the value associated with the key 5 to be z

In [144]:
dic[5]

'z'

In [145]:
del dic[5] # function del deletes the key-value pair of key 5 from the dictionary

In [146]:
dic

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 6: 'g', 7: 'h', 8: 'i', 9: 'j'}

In [147]:
len(dic) # we can loot at the length of the dictionary

9

In [148]:
list(dic.values()) # We've created a dict from two lists. we can get lists backs from the dict

['a', 'b', 'c', 'd', 'e', 'g', 'h', 'i', 'j']

In [149]:
list(dic.keys())

[0, 1, 2, 3, 4, 6, 7, 8, 9]

# Dictionary get - accessing a value associated with a key

In [150]:
d = {'Open':90,'High':95, 'Low':85,'Close':92} # new dict

In [151]:
d['High'] # access the value associated with the key High

95

In [152]:
d['aa'] # What if we put in a key that don't exist?

KeyError: 'aa'

In [155]:
d.get('ABC',0)# get function checks if a key exists, 0 is the default value if the key does not exist

0

# Dictionary setdefault method

In [156]:
d.setdefault('aaa', 0) # it searches through the dict, it look at the keys and assign a value to a key if it doesn not exist
d

{'Close': 92, 'High': 95, 'Low': 85, 'Open': 90, 'aaa': 0}

In [157]:
d.setdefault('High', 100) # set 100 if High does not exist in the dict
d # nothing is changed

{'Close': 92, 'High': 95, 'Low': 85, 'Open': 90, 'aaa': 0}

# Nested Dictionaries

In [161]:
date = '20-12-17'
d = {date:{'Open':90,'High':95, 'Low':85,'Close':92}} # key is date, the value is another dictionary = nested dictionary
d

{'20-12-17': {'Close': 92, 'High': 95, 'Low': 85, 'Open': 90}}

In [163]:
d.items() # lets have a look at the items in this dictionary

dict_items([('20-12-17', {'Open': 90, 'High': 95, 'Low': 85, 'Close': 92})])

In [159]:
d[date]['Low'] # acessing a value in a nested dictionary, in the first square bracket you put the key of the first dict and in the second squared bracket the key in the nested dict

85

In [164]:
# a new dict, the value of Microsoft is another dict 
d_stock = {
    'MSFT':{
        '20-12-17':{'Open':90,'High':95, 'Low':85,'Close':92},
        '21-12-17':{'Open':85,'High':90, 'Low':80,'Close':82}    
     }    
}

In [165]:
d_stock.items()

dict_items([('MSFT', {'20-12-17': {'Open': 90, 'High': 95, 'Low': 85, 'Close': 92}, '21-12-17': {'Open': 85, 'High': 90, 'Low': 80, 'Close': 82}})])

In [166]:
d_stock['MSFT'].items() # gets the key-value pairs in the dict that this key points to

{'Close': 82, 'High': 90, 'Low': 80, 'Open': 85}

In [168]:
d_stock['MSFT']['21-12-17'] # get the value that 'MSFT' points to and then get the value that '21-12-17' points to , which it itself a dictionary

{'Close': 82, 'High': 90, 'Low': 80, 'Open': 85}

In [169]:
d_stock['MSFT']['21-12-17'].items()

dict_items([('Open', 85), ('High', 90), ('Low', 80), ('Close', 82)])

# Tuples are immutables, can't be changed - round brackets

In [174]:
new_tuple = (1,2,3,4,5,6,7,8,9)
new_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [176]:
new_tuple[4] # indexing and slicing, remember Python is zero indexing

5

In [177]:
new_tuple[2:5] # Slicing tuples

(3, 4, 5)

In [183]:
new_tuple[-6:-2] # go from the -6 position, starting to the end

(4, 5, 6, 7)

In [184]:
my_list = [0,1,2,3,4] # changing a list element
my_list[1] = 'cat'
my_list

[0, 'cat', 2, 3, 4]

In [185]:
new_tuple[1] = 'cat' # we can't change

TypeError: 'tuple' object does not support item assignment

In [187]:
3 in new_tuple # cheching if an element belongs to a tuple

True

In [188]:
max(new_tuple) # returns the maximal number of a tuple

9

In [189]:
len(new_tuple) # returns the number of elements of the tuple

9

In [191]:
sum(new_tuple) # sum the tuple

45

In [194]:
sorted(new_tuple) # returns a list of that list with sorted elements, but don't change the tuples

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Difference between Lists and Tuples in Python:
Lists are mutable and tuples are immutable

### More importantly:
 1. Lists are homogeneous sequences
 
 2. Tuples are heterogeneous data structures

In [195]:
point_in_space = (3,4,5) # this itself is a data structure, that will not change

In [196]:
p1 = (3,4,6) # more tuples
p2 = (4,5,2)
p3 = (2,4,3)
p4 = (2,5,3)

In [197]:
list_of_points = [point_in_space,p1,p2,p3,p4] # list of points, that are tuples

In [198]:
list_of_points

[(3, 4, 5), (3, 4, 6), (4, 5, 2), (2, 4, 3), (2, 5, 3)]

# Python if statement

In [199]:
# Allow us to test for a particular value and depending on the outcome of that test we can perform a different task
light = 'red' # one equal sign, its setting this value to the variable
if light == 'red': # if this if statement is true, run the code cointained. always put the colon in the end of the statement and you must ident the bit of code by 4 spaces
    print('You should stop')

You should stop

In [200]:
light

'red'

In [201]:
light == 'red' # testing for a value being true of false, use two equal signs

True

In [209]:
light = 'red'
if light == 'red': #first statement, check if this condition is true
    print('You must stop')
elif light == 'green': # elif is a continuation of the if statement
    print('You can go')
else: # if the previous statements are not true, it defaults to here
    print('The light don\'t seems to be working!')

You must stop

# Python foor loops
#### -> a way of performing repetitive tasks in Python. It enables you to iterate through an (iterable) Object like lists and dictionaries

In [210]:
number_list = range(10) # range functions creates a list of numbers
number_list

range(0, 10)

In [219]:
for number in number_list: # to declare the for loop you put the variable, in, colon, 
    # for each item in this number list, we are gonna do something
    print(number) #indent 4 spaces in the next instruction

0
1
2
3
4
5
6
7
8
9

In [212]:
new_list = [] # a ne list with nothing in it
for number in number_list:
    square = number*number # number squared
    new_list.append(square) # append it to the new list
new_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [222]:
for number in new_list:
    print('We are currently at index',new_list.index(number),'which has a value of', number)
print('That\'s it! We\'ve reached the end of the list!')

We are currently at index 0 which has a value of 0
We are currently at index 1 which has a value of 1
We are currently at index 2 which has a value of 4
We are currently at index 3 which has a value of 9
We are currently at index 4 which has a value of 16
We are currently at index 5 which has a value of 25
We are currently at index 6 which has a value of 36
We are currently at index 7 which has a value of 49
We are currently at index 8 which has a value of 64
We are currently at index 9 which has a value of 81
That's it! We've reached the end of the list!

In [225]:
for number in new_list: # finding the numbers divisible by 5
    if number%5 == 0 and number != 0:
        print(str(number), 'is divisible by 5 and has a index value of', new_list.index(number), '\n')
    else:
        print(str(number), 'is not divisible by 5. \n')

0 is not divisible by 5.

1 is not divisible by 5.

4 is not divisible by 5.

9 is not divisible by 5.

16 is not divisible by 5.

25 is divisible by 5 and has a index value of 5

36 is not divisible by 5.

49 is not divisible by 5.

64 is not divisible by 5.

81 is not divisible by 5.

# Python Enumerate

### Built-in function that adds a counter to an iterable
-> Ex.: in a for loop over  alist, enumerate gives you a counter

In [226]:
new_list = ['once','upon','a','time']

['once', 'upon', 'a', 'time']

In [229]:
print(list(enumerate(new_list)))
# it returns tuples of counter-value

[(0, 'once'), (1, 'upon'), (2, 'a'), (3, 'time')]

In [232]:
print(list(enumerate(new_list, start=12))) # adding the parameter start

[(12, 'once'), (13, 'upon'), (14, 'a'), (15, 'time')]